/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:space-evenly;
	align-item:centre;
	width:100%;
	height:200px;
	border:3px solid black;
	align-items:center;
	padding:0px;
	background:#d2d3d3;
	border-radius:40px;
}
.red{
	width:100px;
	height:100px;
	background:red;
	border-radius:50%;
	order:3;
}
.green{
	width:100px;
	height:100px;
	background:green;
	border-radius:50%;
	order:1;
}
.yellow{
	width:100px;
	height:100px;
	background:yellow;
	border-radius:50%;
	order:2;
}